h1 {
    margin-bottom: 20px; 
    color: rgb(39, 165, 1); 
}

.portal-border {
    border: 5px solid rgb(11, 168, 5); /* Cor da borda (azul) e largura da linha */
    border-radius: 50px; /* Arredondamento da borda */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 15px rgba(1, 138, 35, 0.568); /* Adiciona um brilho ao redor */
    background-color: #fff; /* Cor de fundo opcional */
    height: 80vh; /* Altura ajustada ao tamanho da tela */
}

/* center name */
.text-center {
    text-align: center;
}

/* Botón para agregar producto */
.add-product {
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

/* Lista de productos */
.list-group-item {
    border-radius: 0.5rem; 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Detalles del producto */
.product-details {
    font-size: 1rem; 
    color: #343a40; 
}

/* Acciones del producto */
.product-actions {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

/* Botones de acciones del producto */
.product-actions .btn {
    border-radius: 0.25rem; 
}

/* Estilo para los badges */
.badge {
    font-size: 0.9rem; 
    padding: 0.5rem; /* Espaciado interno */
}

.btn-success {
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

